.container{
  background-color: aquamarine;
  padding: 20PX;
  margin: 20PX;
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  background-color: bisque;
}
#homeBtn{
  margin: 20px;
  padding: 20px;
}

.Counter{
  margin: 30px;
  padding: 50px;
  width: 200px;
  background-color: violet;
}

.login{
  background-color:chartreuse;
  margin: 20px;
  padding: 30px;
  width: 200px;
}